@import (reference) '@/styles/theme.less';
.buttonGroup {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.confirmButtonContainer{
  .confirmButton {
    margin-top: 24px;
    border-radius: 8px;
    background-color: @button-color;
    border: none;
    padding: 8px 20px;
    height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: @secondary-blue;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(3, 15, 67, 0.2);
  }
  :global(.ant-btn).confirmButton:hover {
    background-color: @button-color-hover;
    color: @secondary-blue;
    box-shadow: 0 4px 8px rgba(3, 15, 67, 0.3);
    transform: translateY(-1px);
  }
}

.header {
  .backButton {
    border-radius: 8px;
    background-color: @button-color;
    border: none;
    padding: 8px 20px;
    height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: @secondary-blue;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(3, 15, 67, 0.2);
  }
  :global(.ant-btn).backButton:hover {
    background-color: @button-color-hover;
    color: @secondary-blue;
    box-shadow: 0 4px 8px rgba(3, 15, 67, 0.3);
    transform: translateY(-1px);
  }

}
